- page_header @page_header || "Classifieds Ads"
- title "Welcome to the greatest shop on earth"
- description("Buy and sell anythief on thiefshop where everything goes")

- if @classifieds.blank? 
  %p There are no ads currently in the system.
- else
  %p These are the current classified ads in our system

#classifields
  - previous_days = ""
  - @classifieds.each do |classified|
    - if (classified.created_at.strftime("%m/%d/%Y").to_s != previous_days)
      %h4= classified.created_at.strftime("%B %d, %Y")

    .post
      %h3
        - if classified.get_upvotes.size > 0
          %a{href: dislike_classified_path(classified), method: :get}
            %i.fa.fa-heart.favorite
        - else
          %a{href: like_classified_path(classified), method: :get}
            %i.fa.fa-heart
        = link_to classified.title, classified
      %p=raw tag_links(classified.all_tags)
      %p= truncate classified.description, length: 120
      %p
        %small= classified.created_at.strftime("%B %d, %Y")
        %small= link_to 'like', like_classified_path(classified), method: :get
      - if can_edit?(classified)
        %small= link_to 'Edit', edit_classified_path(classified)
        %small= link_to 'Delete', classified, methed: :delete, data: {confirm: "Are you sure?"}
      - previous_days = classified.created_at.strftime("%m/%d/%Y").to_s

.feed-pagination
  = will_paginate @classifieds