.footer-languages
  .container
    .row
      .col-lg-12
        %ul.list-inline
          %li
            %strong Language
          %li= link_to 'English', '#'
          %li= link_to 'Zulu', '#'
          %li= link_to 'Spanish', '#'
          %li= link_to 'German', '#'
          %li= link_to 'Italian', '#'
          %li
            %span.text-danger Still working on this features


.footer
  .container
    .row
      .col-lg-12
        %ul.list-inline
          %li= link_to 'RSS', '#'
          %li= link_to 'Terms & Conditions', '#'
          %li= link_to 'About', '#'
          %li= link_to 'Contact', '#'
          %li Copyright Major
          %li 
            %mark.text-danger Still working on this features
